/@*/
/_@*/
!/_@Heatmap/
*.exe
*.RPT
*.ADM
*.log
*.dll
*.bisign
*.pbo
# Allow all files in _@Heatmap including pbo, dll, bisign
!/_@Heatmap/**/*.pbo
!/_@Heatmap/**/*.bisign
!/_@Heatmap/**/*.dll
*.bin
*.vdf
*.ebo
*.mdmp
/battlefield
/battleye
/bliss
/dta
/keys
/addons
/appcache
/logs
/tmp

/mpmissions/Expansion.chernarusplus/storage_1/
*/storage_1/
mpmissions/main.hashima/storage_1/
mpmissions/main.hashima/areaflags.map
cache.ch
dayz.gproj
.env

# Ignore heatmap session files except the example
config/Heatmap/session_*.json
!config/Heatmap/example_Heatmap.json
config/ExpansionMod/Settings/SocialMediaSettings.json
config/PermissionsFramework/Players/
config/PermissionsFramework/Permissions/

.vscode/
.continueignore
__pycache__/
.mypy_cache/
